@import "../../styles/common";

.default {
  position: relative;

  .list {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    min-width: 100px;
    border: 1px $menu-border-color solid;
    background: $bg;
    color: $item-color;
    cursor: pointer;
    border-radius: 2px;

    .item {
      padding: 5px;

      &:hover {
        background-color: $menu-hover-bg;
      }
    }

  }

  &.open {
    .list {
      display: block;
    }
  }
}
