@import "../../styles/common";

.default {
  position: relative;

  .list {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    min-width: 100px;
    border: 1px $menu-border-color solid;
    background: $primary-bg-color;
    color: $primary-text-color;
    cursor: pointer;
    border-radius: 2px;

    .item {
      padding: 5px 10px;

      &:hover {
        color: #ffffff;
        background-color: $accent-color;
      }
    }
  }

  &.open {
    .list {
      display: block;
    }

    button {
      color: #ffffff;
      background-color: $accent-color;
    }
  }
}
