@import "../../styles/common";

.default {
	display: flex;
	flex-flow: column;
	justify-content: center;
	min-height: 300px;
	letter-spacing: .025em;

	form {
		width: 240px;
		margin: 0 auto;

		> div {
			margin: 0 auto .9em;
		}
	}
}