@import "../../styles/common";

.default {
  background-color: $bg;
  font-family: $font-base;
  font-size: $font-size-base;

  *, & {
    box-sizing: border-box;
    transition: all $time $func;
  }

  button {
    cursor: pointer;
    outline: none;
  }
}