@import "../../../../styles/common";

.default {

  .iconWrapper {
    width: 30px;
    font-size: 24px;
  }

  &.active td {
    background-color: #00a9bf;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }
}
