@import "../../../styles/common";

.default {
  padding: 0;
  margin: 0;
  display: block;
  overflow: auto;
  color: $primary-text-color;
  background-color: $primary-bg-color;
  min-height: 800px;

  & > * {
    padding: 0;
    margin: 0;
  }

  a {
    color: $primary-text-color;
    text-decoration: none;
  }

  table {
    width: 100%;
    border-spacing: 0;

    tr:nth-child(odd) td {
      background-color: $item-bg-color;
    }

    tr:nth-child(even) td {
      background-color: $primary-bg-color;
    }
  }
}
