@import "../../../styles/common";

.default {
  padding: 0;
  margin: 0;
  display: block;
  color: $primary-text-color;
  background-color: $primary-bg-color;
  min-height: 400px;

  & > * {
    padding: 0;
    margin: 0;
  }

  a {
    color: $primary-text-color;
    text-decoration: none;
  }

  table {
    border-spacing: 0;
    width: 100%;

    td {
      text-align: left;
      vertical-align: middle;
      line-height: 1.5;
      height: 2.5em;
      padding: 0 12px;
      -webkit-box-shadow: -1px 0 0 0 $menu-border-color inset;
      box-shadow: -1px 0 0 0 $menu-border-color inset;

      &:first-child {
        position: relative;
        width: 20px;
        cursor: pointer;
      }

      .baseName {
        cursor: pointer;
      }
    }
  }

  .header {
    overflow: hidden;
    background-color: #737d95;
    color: #fff;

    td {
      -webkit-box-shadow: -1px 0 0 0 #cfd6e5 inset;
      box-shadow: -1px 0 0 0 #cfd6e5 inset;
    }
  }

  .body {
    overflow: auto;

    tr:nth-child(odd) td {
      background-color: $item-bg-color;
    }

    tr:nth-child(even) td {
      background-color: $primary-bg-color;
    }
  }
}
