%box {
  padding: 50px;
  border-radius: $border-radius;
  letter-spacing: .025em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

%ajax-loading {
  @extend %box;
  color: $info-btn-color;

  > span {
    margin-right: -12px;
  }
}

%ajax-error {
  @extend %box;
  background-color: $item-error-bg-color;

  > span {
    &:first-of-type {
      font-size: 1.5em;
      color: $error-color;
    }

    + span {
      color: $info-btn-color;
    }
  }

  > svg {
    margin-bottom: 10px;
  }
}

%button {
  vertical-align: middle;
  white-space: nowrap;
  border-radius: $border-radius;
}