%item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.25;
  transition: all $time $func;

  &:nth-child(2n+1) {
    background-color: hsb($hue, 1, 98);
  }

  .inner {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px 5px 20px;
    color: hsb($hue, 25, 50);
  }

  .name {
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .size {
    margin-left: auto;
    white-space: nowrap;

    > span {
      display: none;
      color: $accent;

      &:after {
        padding: 0 3px;
        content: '/';
      }
    }
  }

  .controls {
    display: flex;
    flex-basis: 90px;
    min-width: 90px;
    justify-content: flex-end;

    @media (max-width: 420px) {
      flex-basis: 70px;
      min-width: 70px;
    }

    .btnRetry, .btnView, .btnClose {
      @include square(30px);
      border: 0;
      font-size: 0.7em;
      color: hsb($hue, 10, 70);
      text-decoration: none;
      border-radius: $br;
      transition: all $time $func;

      @media (min-width: 420px) {
        margin-left: 10px;
      }

      &:hover {
        color: #fff;
      }
    }

    .btnRetry {
      display: none;
      box-shadow: 0 0 0 0 rgba(hsb($error, 70, 100), .5);

      &:hover {
        background-color: hsb($error, 70, 100);
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba(hsb($error, 70, 100), 0);
      }
    }

    .btnView {
      box-shadow: 0 0 0 0 rgba($accent, .5);

      &:hover {
        background-color: $accent;
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba($accent, 0);
      }
    }

    .btnClose {
      box-shadow: 0 0 0 0 rgba($accent, .5);

      &:hover {
        background-color: hsb($hue, 10, 20);
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba($accent, 0);
      }
    }
  }
}

%item-with-states {
  @extend %item;

  &.error:nth-child(2n+1) {
    background-color: hsb($error, 3, 100);
  }

  &.loading:nth-child(2n+1) {
    background-color: hsb($hue, 3, 100);
  }

  &.error .inner {
    color: hsb($error, 70, 70);
  }

  .errorMessage {
    display: none;
    width: 100%;
    padding: 0 10px 5px 20px;
    top: -5px;
    color: hsb($error, 70, 100);
    font-size: .9em;
  }

  .progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  }

  &.loading .progress {
    background-color: hsb($hue, 15, 100);
  }

  &.loading .size {
    > span {
      display: inline-block;
    }
  }

  &.error .size > span {
    color: hsb($hue, 3, 70);
  }

  &.error .errorMessage {
    display: block;
  }

  &.error:not(.fatal) .btnRetry {
    display: flex;
  }

  &.error .btnView, &.loading .btnView {
    display: none;
  }

  @keyframes success {
    0% {
      background-color: initial;
    }
    50% {
      background-color: $accent;
    }
    100% {
      background-color: initial;
    }
  }

  @keyframes flip {
    0% {
      color: hsb($hue, 25, 50);
    }
    50% {
      color: #000;
    }
    100% {
      color: hsb($hue, 25, 50);
    }
  }

  &.success {
    animation: success 2s;

    > div {
      animation: flip 1s;
    }
  }
}

%box {
  padding: 50px;
  border-radius: $br;
  letter-spacing: .025em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

%ajax-loading {
  @extend %box;
  color: hsb($hue, 5, 50);

  > span {
    margin-right: -12px;
  }
}

%ajax-error {
  @extend %box;
  background-color: hsb($error, 3, 100);

  > span {
    &:first-of-type {
      font-size: 1.5em;
      color: hsb($error, 70, 100);
    }

    + span {
      color: hsb($hue, 5, 50);
    }
  }

  > svg {
    margin-bottom: 10px;
  }
}
