$base: 0;
$hue: 220;
$error: 340;

$font-family: Assistant, 'PT Sans', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$border-radius: 0px;

$primary-bg-color: #fff;
$accent-color: hsb($hue, 70, 100);
$secondary-bg-color: hsb($hue, 10, 15);
$primary-text-color: hsb($hue, 5, 20);
$secondary-text-color: hsb($hue, 5, 70);

$info-btn-color: hsb($hue, 10, 50);
$info-btn-bg-color: hsb($hue, 3, 90);
$info-btn-hover-bg-color: hsb($hue, 10, 50);

$item-color: hsb($hue, 25, 50);
$item-bg-color: hsb($hue, 1, 98);
$item-loading-bg-color: hsb($hue, 5, 100);
$item-loading-color: $accent-color;
$item-loading-info-color: hsb($hue, 3, 70);
$loading-bg-color: hsb($hue, 15, 100);
$item-error-color: hsb($error, 70, 90);
$item-error-info-color: hsb($error, 3, 70);
$item-error-bg-color: hsb($error, 3, 100);

$error-color: hsb($error, 70, 100);

$menu-border-color: rgba(#000, .075);
$menu-bg: darken($primary-bg-color, 3);
$menu-hover-bg: darken($primary-bg-color, 10);