@import "../../styles/common";

.default {
  padding: 50px;
  background-color: #fff;
  font-family: $font-base;
  font-size: $font-size-base;

  > div:first-child {
    padding: 50px;
    min-height: 300px;
    border-radius: $br;
    letter-spacing: .025em;
    text-align: center;
  }

  .loading, .errorMessage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
  }

  .loading {
    color: hsb($hue, 5, 50);
    border: 1px dashed hsb($hue, 5, 90);

    > span {
      margin-right: -12px;
    }
  }

  .errorMessage {
    background-color: hsb($error, 3, 100);
    border: 1px dashed hsb($error, 5, 90);

    > span {
      &:first-of-type {
        font-size: 1.5em;
        color: hsb($error, 70, 100);
      }

      + span {
        color: hsb($hue, 5, 50);
      }
    }

    > svg {
      margin-bottom: 10px;
    }
  }

  &, * {
    position: relative;
    box-sizing: border-box;
    transition: all $time $func;
  }

  @media (max-width: 420px) {
    padding: 30px;
  }

  @media (max-width: 360px) {
    padding: 20px;
  }

  button {
    border: 0;
    background: transparent;
    transition: all $time $func;
    cursor: pointer;

    &:focus, &:active {
      outline: none;
    }
  }
}
