@import "../../styles/common";

.default {
  display: block;
  width: 100%;
  min-height: 40px;
  border-radius: $border-radius;
  line-height: $line-height;
  font-family: $font-family;
  font-size: $font-size;
  padding: 8px 15px;
  background: $accent-color;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    background: adjust-hue($accent-color, 30deg);
  }

  &:focus, &:active {
    outline: none;
  }
}