@import "../../styles/common";

.default {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(25, 25, 25, 0.25);

  .popup {
    z-index: 1000;
    max-width: 600px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $primary-bg-color;
    border: 1px $menu-border-color solid;
    border-radius: 4px;
    padding: 2px;
  }

  .close {
    border: none;
    background: none;
    position: absolute;
    right: 9px;
    top: 9px;
    z-index: 1000;
    font-size: 1.5em;
    color: $accent-color;

    &:hover {
      color: adjust-hue($accent-color, 30deg);
    }
  }
}
