@import "../../../../styles/common";

.default {
  padding: 20px;
  min-height: 100px;
  border-radius: $border-radius;
  letter-spacing: .025em;
  text-align: center;

  border: 1px dashed $secondary-text-color;

  &.drag {
    background-color: rgba($accent-color, .1);
    border-color: rgba($accent-color, .5);

    > div {
      pointer-events: none;
    }
  }

  .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    line-height: 1.5;

    > span {
      &:nth-child(1) {
        font-size: 1.5em;
        color: $primary-text-color;
      }

      &:nth-child(2) {
        font-size: .875em;
        font-weight: 300;
        color: $secondary-text-color;
      }

      &:nth-child(4) {
        font-size: .75em;
        font-weight: 300;
        color: $secondary-text-color;
      }
    }
  }

  .browseButton {
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba($accent-color, .5);

    border-radius: 1px;

    > span {
      display: inline-block;
      min-width: 150px;
      padding: 12px 40px;
      line-height: 1;
      background-color: $accent-color;

      border-radius: $border-radius;
      cursor: pointer;
      color: #fff;
    }

    &:hover > span {
      background-color: adjust-hue($accent-color, 30deg);
    }

    &:active {
      box-shadow: 0 0 6px 9px rgba($accent-color, 0);
    }

    > input {
      display: none;
    }
  }
}
