@import "../../styles/common";

.default {
  padding: 50px;
  background-color: $primary-bg-color;
  font-family: $font-family;
  font-size: $font-size;
  height: 800px;

  &, * {
    position: relative;
    box-sizing: border-box;
  }

  @media (max-width: 420px) {
    padding: 30px;
  }

  @media (max-width: 360px) {
    padding: 20px;
  }

  button {
    border: 0;
    cursor: pointer;

    &:focus, &:active {
      outline: none;
    }
  }
}
