@import "../../../../../styles/common";

.default {
  margin-bottom: 10px;


  path, line, polyline {
  	stroke: $secondary-text-color;
  }

  &.highlight > * {
    stroke: $accent-color;
    pointer-events: none;
  }
}
