@import "../../../styles/common";

.default {
  display: flex;

  button {
    background: transparent;
    border: none;
    color: $info-btn-color;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    &:hover {
      color: #fff;
      background-color: $accent-color;
    }
  }
}
